<div class='span8 offset2' >

	<br/><h2 class='center'>Uniscript Charts</h2>

	<br/>

	<legend>Consonants</legend>

	<div class='center'>
		<%= image_tag("consonants.png") %>
	</div>
	
	<br/><br/>

	<legend>Vowels</legend>

	<div class='center'>
		<%= image_tag("vowels.png") %>
	</div>
	
	<br/><br/>

	<legend>Diacritics</legend>

	<div class='center'>
		<%= image_tag("diacritics.png") %>
	</div>
	
	<br/><br/>

	<legend>Punctuation Marks</legend>

	<div class='center'>
		<%= image_tag("punctuation.png") %>
	</div>

	<br/><br/><br/>

</div>