<div class='span8 offset2' >

	<br/><h1 class='center'>Uniscript</h1>

	<legend>
		Transliteration:
	</legend>
	
	<div class='center'>
		<textarea class='textarea-home' id='input' rows="5"></textarea>
	</div>
	
	<legend>
		Uniscript:
	</legend>

</div>

<div class='span12'>

	<div id='options'>

		<div class='row'>
			<div class='span1 offset1'>
				Font Size:
			</div>
			<div class='span1'>
				<select id='font-size' class='dropdown-cara'>
					<option>8</option>
					<option>10</option>
					<option>12</option>
					<option>16</option>
					<option>20</option>
					<option>24</option>
					<option>32</option>
					<option>40</option>
					<option>48</option>
					<option>64</option>
				</select>
			</div>
			<div class='span1 offset2'>
				Font Width:
			</div>
			<div class='span1'>
				<select id='font-width' class='dropdown-cara'>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class='span1 offset2'>
				Font Color:
			</div>
			<div class='span1'>
				<select id='font-color' class='dropdown-cara'>
					<option>black</option>
					<option>red</option>
					<option>blue</option>
					<option>green</option>
					<option>orange</option>
					<option>purple</option>
					<option>teal</option>
					<option>maroon</option>
					<option>navy</option>
					<option>olive</option>
					<option>grey</option>
				</select>
			</div>
		</div>
	</div>
	
	<div class='center'>
		<canvas id="textarea-output" width=300 height=300></canvas><br>
		<a target='_blank' id='save_button' class='btn btn-primary'>Save Image</a>
	</div>
</div>