<footer class="footer" id='footer'>
	<div class="container">
		<ul class = 'nav'>
			<h5>Uniscript <small>by Pangus Ho, Aug 2013</small></h5>
		</ul>
		<ul class = 'nav pull-right'>
		</ul>
	</div>
</footer>
