<footer class="footer" id='footer'>
	<div class="container">
		<ul class = 'nav'>
			<h5>Cara Font <small>by PH, Dec 2012</small></h5>
		</ul>
		<ul class = 'nav pull-right'>
		</ul>
	</div>
</footer>
